.tab-content {
    height: fit-content !important;
}

.nav {
    background-color: transparent;
}

.table-scroll {
    max-height: 63vh !important;
}

/*Contenedor de los switch*/
.bg-section {
    background-color: #f7f7f7;
    padding: 1.2rem 1rem;
    border-radius: 10px;
}

/*Tarjeta desplegable*/
.item_container_datos {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 0 1rem 0.3rem;
    margin: 1rem 0;
    transition: 'box-shadow 0.3s ease',
}

.tittle-container-modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boton-desplegable {
    background-color: transparent !important;
    font-size: 25px !important;
    color: #303d50;
    margin-top: 4px;
}

.boton-desplegable:hover {
    color: #697586;
    transition: all 0.3s ease-in-out;
}

/*Tabs*/
.modern-tabs {
    width: 100%;
    margin-top: 1rem;
}

.tab-selector {
    display: flex;
    gap: 0.5rem;
    position: relative;
    padding-bottom: 0.5rem;
    width: 100%;
}

.pill-tab {
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #f3f3f3;
    border: none;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

.pill-tab.active {
    background-color: #d7eaff;
    color: #2f7bc2;
}

.tab-content {
    margin-top: 1rem;
    overflow-x: hidden;
    position: relative;
}


/* Traido desde desde el otro lado */
.title_container_form {
    display: grid;
    border-radius: 10px;
    margin: 3rem 0 1rem;
    box-shadow: 2px 3px 4px gainsboro;
}

.subtitle_container_form {
    background-color: #303d50;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 0 2rem;
    flex-direction: column;
    border-radius: 10px;
    font-size: 20PX;
}

.number_ot_container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d13c47;
    font-weight: 700;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 0 10px 10px 0;
}



.basic_info_container {
    padding: 0 20px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 2px 3px 4px gainsboro;
    border-radius: 10px;
}

.column_grid_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.analist_info_container {
    padding: 0 20px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 2px 3px 4px gainsboro;
    border-radius: 10px;
}

.item_info_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


/* !Fin Traido desde desde el otro lado */